<p>Events at the top are more recent than those at the bottom.</p>

@model IEnumerable<DurableFunctionsBrowser.Infrastructure.HistoryEvent>

<div class="display-12">
    <div id="experimentationArea"></div>
</div>
<script>

    var ready = function (fn) {

        // Sanity check
        if (typeof fn !== 'function') return;

        // If document is already loaded, run method
        if (document.readyState === 'interactive' || document.readyState === 'complete') {
            return fn();
        }

        // Otherwise, wait until document is loaded
        document.addEventListener('DOMContentLoaded', fn, false);
    };
    ready(function () {

        var element = document.getElementById("experimentationArea");
        var timeline = TimelinesChart()(element)
            .zQualitative(true)
            .width(900);


        var interval = setInterval(function () {
            fetch(window.location + '.json')
                .then(function (response) {
                    response.json().then(function (data) {
                        timeline.data(data)
                            .zQualitative(true)
                            .width(900);
                    })
                });
            clearInterval(interval);
        }, 1000);



    });
</script>
<table class="table">
    <thead>
        <tr>
            <th scope="col">EventId</th>
            <th scope="col">EventType</th>
            <th scope="col">Name</th>
            <th scope="col">IsPlayed</th>
            <th scope="col">Input</th>
            <th scope="col">Timestamp</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.EventId</th>
                <td>@item.EventType</td>
                <td>@item.Name</td>
                <td>@item.IsPlayed</td>
                <td>@item.Input</td>
                <td>@item.Timestamp</td>
            </tr>
        }
    </tbody>
</table>